parameters:
	paths:
		- Civi
		- CRM
		- services
		- tests
	excludePaths:
		analyse:
			- CRM/*/DAO/*
			- CRM/*/Upgrader/Base.php
			- tests/phpunit/bootstrap.php
	scanFiles:
		- external_file.civix.php
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework/TestCase.php
	scanDirectories:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework
	bootstrapFiles:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/vendor/autoload.php
		- phpstanBootstrap.php
	stubFiles:
		- stubs/AbstractAction.stub
		- stubs/CiviEventDispatcherInterface.stub
		- stubs/Event.stub
		- stubs/StoppableEventInterface.stub
	level: 9
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- \Webmozart\Assert\InvalidArgumentException
		implicitThrows: false
	ignoreErrors:
		# Note paths are prefixed with ""*/" to wirk with inspections in PHPStorm because of:
		# https://youtrack.jetbrains.com/issue/WI-63891/PHPStan-ignoreErrors-configuration-isnt-working-with-inspections
		- '#^Equal: Do not compare objects directly, DateTime(Interface)? and DateTime(Interface)? found.$#'
		- '#^Method Civi\\Api4\\[^\\]+::[^(]+\(\) should return Civi\\[^\s]+\\[^\s]+Action but returns mixed.$#'
		- '/^Parameter #[0-9]+ \$[^\s]+ \(array[^\)]+\) of method Civi\\ExternalFile\\Api4\\Action\\[a-zA-Z]+\\[^\s]+Action::[^\s]+ should be contravariant with parameter \$[^\s]+ \([^\s]+\) of method [^\s]+$/'
		- '#^Method Civi\\ExternalFile\\Api4\\Query\\[^\\]+::toArray\(\) return type has no value type specified in iterable type array.$#'
		- '#^Method Civi\\ExternalFile\\Api4\\Query\\Comparison::toArray\(\) never returns array\{string, array<int, array>\} so it can be removed from the return type.$#'
		- '#^Method Civi\\ExternalFile\\Api4\\Query\\CompositeCondition::toArray\(\) never returns array\{0: string, .+\} so it can be removed from the return type.$#'

		# Tests
		- '#^In method "[^\s]+Test::test[^\s]+", caught "Exception" must be rethrown.#'
	tmpDir: .phpstan
